# =====================================================================
# DEPENDENCIAS (Ignora los módulos de tu backend)
# =====================================================================
servidor/node_modules/
node_modules/

# =====================================================================
# CONFIGURACIÓN Y ENTORNO (Para proteger tus credenciales de la BD)
# =====================================================================
servidor/.env
.env
*.env

# =====================================================================
# CONFIGURACIONES DE EDITORES Y SISTEMA
# =====================================================================
.vscode/
.idea/
Thumbs.db
.DS_Store
tsconfig.json

# =====================================================================
# LOGS Y ERRORES
# =====================================================================
*.log
npm-debug.log*